*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* makes everything inherit box-sizing which normally isn't. Set it in the body below. */
}

html {
  // defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
